.link {
  text-decoration: none;
}

.tile {
  display: inline;
  font: 100px "Times";
  border: 5px solid;
  border-radius: 10%;
  padding: 0 10px 5px;
  margin: 3px;
}

.add {
  color: #777777;
  border-color: #bbbbbb;
  background-color: #dddddd;
}

.learned {
  color: black;
  border-color: #337777;
  background-color: #77bbbb;
}

.learning {
  color: black;
  border-color: #773333;
  background-color: #bb7777;
}

.detail {
  font-size: 18pt;
}

.subtext {
  font-size: 10pt;
  color: #777777;
}

.toggle:hover {
  cursor: pointer;
}